*{
    margin: 0;
    padding: 0;
  }
  

  body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,102,1) 55%, rgba(47,13,102,1) 85%);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    height: 100vh;
    margin: 0;
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .form {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the form vertically */
    width: 100%;
    height: 100vh; /* Make the form full-screen */
  }

  .form .field {

    width: 1440px;
    height: 1024px;
  }
  
  .form .container {
    position: relative;
    height: 1024px;
  }

  .form .text-1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 350px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }

  .form .user {
    position: absolute;
    width: 450px;
    height: 42px;
    top: 425px;
    left: 500px;
  }
  
  .form .user input {
    width: calc(100% - 22px); /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2b2a2a;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form .pass {
    position: absolute;
    width: 450px;
    height: 42px;
    top: 478px;
    left: 500px;  
  }
  
  .form .pass input {
    width: calc(100% - 22px); /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2b2a2a;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form .role {
    position: absolute;
    width: 100px;
    height: 42px;
    top: 531px;
    left: 500px;  
  }

  .form .role select {
    width: calc(100% - 22px); /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2b2a2a;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form .role select option {
    font-size: 12px;
    padding: 10px;
  }

  .form .check {
    margin-bottom: 20px;
  }
  
  /* Style for the checkbox */
  .form .check input[type="checkbox"] {
    display: none; 
  }
  
  /* Style for the custom checkbox */
  .form .check input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background: rgba(255, 255, 255, 0.032);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }

  .form .check label {
    font-size: 16px;
    color: #333;
    position: relative;
    top: 4px;
  }

  .form .overlap-12 {
    position: absolute;
    width: 100%; /* Adjust width as needed */
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    bottom: 300px;
  }

  .form .overlap-12 button {
    background: rgba(255, 255, 255, 0.511);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    width: 200px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #2b2a2a;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  
  .form .overlap-12 button:hover {
    background-color: #fff;
    color: darkblue;
  }
  
  .form .overlap-14 {
    position: absolute;
    top: 720px; /* Adjust top position as needed */
    left: 620px; /* Adjust left position as needed */
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    color: #fff;
    text-align: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: red;
  }
  
  a:hover {
    text-decoration: underline;
  }